@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Open Runde";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/open-runde@5.3.0/latin-400-normal.woff2)
    format(woff2),
    url(https://cdn.jsdelivr.net/fontsource/fonts/open-runde@5.3.0/latin-400-normal.woff)
    format("woff");
}

@font-face {
  font-family: "DM Sans Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-sans:vf@5.3.0/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Crimson Pro Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/crimson-pro:vf@5.3.0/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

:root {
  font-size: 17px;

  --fg: var(--color-black);
  --fg-a: var(--color-stone-800);
  --fg-b: var(--color-stone-600);

  --bg: color-mix(in oklab, var(--color-emerald-50) 30%, white);
  --bg-a: var(--color-stone-200);
  --bg-b: var(--color-stone-300);
  --bg-c: var(--color-stone-400);

  :where(.dark) {
    --fg: var(--color-stone-100);
    --fg-a: color-mix(in oklab, var(--color-stone-100) 90%, transparent);
    --fg-b: var(--color-emerald-500);

    --bg: var(--color-stone-900);
    --bg-a: var(--color-stone-700);
    --bg-b: var(--color-stone-600);
    --bg-c: var(--color-stone-500);
  }

  font-variant-ligatures: common-ligatures;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-display: "National Park", Inter, sans-serif;
  --font-serif: "Crimson Pro Variable", Georgia, serif;
  --font-mono: "CommitMono", "JetBrains Mono", monospace;
  --font-sans: "Open Runde", Inter, sans-serif;
  --color-fg: var(--fg);
  --color-fg-a: var(--fg-a);
  --color-fg-b: var(--fg-b);

  --color-bg: var(--bg);
  --color-bg-a: var(--bg-a);
  --color-bg-b: var(--bg-b);
  --color-bg-c: var(--bg-c);
}

body {
  @apply px-4 font-sans bg-bg text-fg;
  text-rendering: optimizeLegibility;
}

main {
  @apply flex items-center flex-col;
}

a {
  @apply text-inherit no-underline transition-all duration-200 ease-in-out;
}

a:hover {
  @apply opacity-70;
}

a:active {
  @apply opacity-40;
}

.w-content {
  @apply md:w-150 w-full;
}

:not(pre) > code {
  @apply text-sm bg-bg-a font-mono p-1 rounded-sm text-fg-a;
}

.oblique {
  font-style: oblique 8deg;
}
